{% extends 'base.html' %}
    {% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ title }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="domain" class="list-group">
                                <!-- ko foreach: domain -->
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-globe fa-fw"></i>
                                        Domain
                                        <span class="pull-right medium">
                                            <em data-bind="text: name"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-file-code-o fa-fw"></i>
                                        Document Root
                                        <span class="pull-right medium">
                                            <em data-bind="text: document_root"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-user fa-fw"></i>
                                        Owner
                                        <span class="pull-right medium">
                                            <em data-bind="text: owner"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-users fa-fw"></i>
                                        Group
                                        <span class="pull-right medium">
                                            <em data-bind="text: group"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-anchor fa-fw"></i>
                                        Port
                                        <span class="pull-right medium">
                                            <em data-bind="text: port"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-flash fa-fw"></i>
                                        Created
                                        <span class="pull-right medium">
                                            <em data-bind="text: created"></em>
                                        </span>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <i class="fa fa-globe fa-fw"></i>
                                        Website
                                        <span class="pull-right medium">
                                            <em data-bind="text: domain_url"></em>
                                        </span>
                                    </a>
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Options
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="options">
                                <ul class="list-unstyled nav nav-pills">
                                    <li><a data-toggle="tab" href="#edit">Edit Domain Details</a></li>
                                    <li><a data-toggle="tab" href="#vhost">Virtual Host</a></li>
                                    <li><a data-toggle="tab" href="#php">Local PHP Settings</a></li>
                                    <li><a data-toggle="tab" href="#ssl">SSL Certificate</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
            <div class="row tab-content">
                <div id="edit" class="col-lg-12 tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit Domain Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form" name="edit" method="put">
                                {{ form.hidden_tag() }}
                                {% for field in form %}
                                    {% if field.type in ["TextField", "IntegerField"] %}
                                <div id="domain" class="form-group">
                                    <label>
                                        {{ field.short_name.replace("_", " ").title() }}
                                        {% if field.flags.required %}
                                        <span style="color: red;">*</span>
                                        {% endif %}
                                    </label>
                                    {{ field( value=domain.domain[0].domain_details[0][field.short_name], class="form-control input-small", size=60, cols=59, rows=6, style="width:100%;", placeholder="Enter the " + field.short_name.replace("_", " "))  }}
                                </div>
                                    {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div id="vhost" class="col-lg-12 tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Domain's Virtual Host
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form" name="edit" method="put">
                                {{ httpvh.hidden_tag() }}
                                {% for field in httpvh %}
                                    {% if field.type in ["TextField"] %}
                                <div id="domain" class="form-group">
                                    <label>
                                        {{ field.short_name.replace("_", " ").title() }}
                                        {% if field.flags.required %}
                                        <span style="color: red;">*</span>
                                        {% endif %}
                                    </label>
                                    {{ field( value="http", class="form-control input-small", size=60, cols=59, rows=30, style="width:100%;", placeholder="Enter the " + field.short_name.replace("_", " "))  }}
                                </div>
                                    {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                        <div class="panel-body">
                            <form role="form" name="edit" method="put">
                                {{ httpsvh.hidden_tag() }}
                                {% for field in httpsvh %}
                                    {% if field.type in ["TextField"] %}
                                <div id="domain" class="form-group">
                                    <label>
                                        {{ field.short_name.replace("_", " ").title() }}
                                        {% if field.flags.required %}
                                        <span style="color: red;">*</span>
                                        {% endif %}
                                    </label>
                                    {{ field( value=https, class="form-control input-small", size=60, cols=59, rows=30, style="width:100%;", placeholder="Enter the " + field.short_name.replace("_", " "))  }}
                                </div>
                                    {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                        <div class="panel-body">
                            <pre><textarea rows=30 cols=98%>{{ http }}</textarea></pre>
                        </div>
                        <div class="panel-body">
                            <pre><textarea rows=30 cols=98%>{{ https }}</textarea></pre>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div id="php" class="col-lg-12 tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Local PHP Settings
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <pre><textarea rows=60 cols=98%>{{ php }}</textarea></pre>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div id="ssl" class="col-lg-12 tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            SSL Certificate
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {{ domain.domain[0].domain_details[0]['domain'] }}
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
            <script src="{{ url_for('static', filename='js/domain_details.js') }}"></script>
{% endblock %}
